# Virtual environment
venv/
env/
ENV/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# Editors / IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
